input.form-control { placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
                     type="text"
                     data={ ng_model: "vm.selected",
                            ng_change: "vm.to_lstorage()",
                            uib_typeahead: "product as product.name for product in vm.searchProduct($viewValue)",
                            typeahead_on_select: "vm.to_lstorage()",
                            typeahead_template_url: "products/_customResultsTemplate.html",
                            typeahead_select_on_exact: "true",
                            typeahead_focus_first: "false",
                            typeahead_wait_ms: "500" } }
span.input-group-btn
  button.btn.btn-default translate="SEARCH_BUTTON" type="submit"
